body {
    margin: 0 auto;
    background: #ebeced;
}
.headerUp {
    height: auto;
    background: white;
}
.currency {
    height: 70px;
    border: none;
    border-radius: 0;
    border-left: 1px solid #e4e5e3;
}
.myProfile{
    height: 70px;
    margin-right: 25px;
    border: none;
    border-radius: 0;
    border-left: 1px solid #e4e5e3;
}
#logo {
    width: 150px;
    display: inline-block;
    margin-left:45%;
    margin-top: -15px;
    margin-bottom: -15px;
}
.headerDown {
    background: #37454d;
    height: auto;
}
.headerDown .form-control1, .headerDown .searchHeader {
  margin-top: 15px;
  margin-bottom: 7px;
  height: 40px;
  margin-left: 23%;
}
.buttonsHeader{
  margin-left:250px;
}
.headerDown .searchHeader{
  margin-top: 15px;
  height: 40px;
  margin-left: 30%;
}

.buttonsHeader button {
display: inline-block;
width: 100%;
height: 35px;
margin-bottom: 15px;
}
.buttonsHeader .datepicker{
  height: 40px;
  width: 22.38%;
}
.dropdown,.currency {
  display: inline-block;
  float: right;
}
/* header ends here */
main {
  margin-top: 12px;
}
.mapArticle {
  height: 100px;
  width: 100%;
  border: 1px solid white;
  border-radius: 3px;
  margin : 5px 0px;
}
.mapArticle button {
  margin-top: 12.5%;
  margin-left: 22.5%;
  border: 1px solid black;
}
.filterArticle>.buttons>button{
width: 50%;
}
.filterArticle>.buttons>button:last-child{
  margin-left:-0.5em;
}

.filterHeading{
  width: 100%;
  text-align: center;
}
.category>button, .rating>button, .facilities>button{
  width: 18%;
  margin-left: 1.1px;
}
.currentRange {
  text-align: center;
}
.minRange {
  display: inline-block;
}
.maxRange {
  display: inline-block;
  float: right
}
.formSearch>input, .formSearch>button{
  display: inline-block;
}
.formSearch>button{
  margin-left: -0.8em;
}
.formSearch>input {
  width: 14em !important;
}
.price>.range {
  margin-bottom: 10px;
}
.deleteFilters{
  text-align: center;
  margin-bottom: 10px;
}
.moreFilters {
  display: none;
}
.moreFilters h3{
  text-align: center;
  cursor: pointer;
}
.moreFilters ul {
  list-style-type: none;
}
.moreFilters label {
  font-weight: none;
  margin-left: -10px;
}
.sidenav {
    height: auto;
    background: #7C8079;
}
/* sidenav ends here */
.center {
    height: 350px;
    background: rebecapurple;
}
.showDate p {
  text-align: center;
}
footer {
    height: auto;
    background: #293339;
}
.footerUp>h4{
  margin-top: 10px;
  text-align: center;
  padding-top: 10px;
}
.centered {
  display: flex;
  justify-content: center;
}
.center-block{
  margin-top: -20px;
}
.footerUp button {
  text-align: center;
  width : 10em;
  height: 3em;
  margin-left: -7px;
}
.footerUp input{
width : 20em;
height: 3em;
border-radius: 5px;
}
.footerUp hr{
  width: 80%;
}
.footerMiddle>p{
  text-align:right;
  margin-right: 15px;
  color:white;
}
.footerDown p {
  text-align: center;
}
.footerDown a {
  color:white;
}
.lastSection {
  padding:1px 0;
  margin-top: -5px 0px;
  background: #7C8079;
  color : white;
}
.lastSection>h1, .lastSection>p{
  text-align: center;
}
#logged {
  display:none;
  float: right;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
#logged img {
  width : 25px;
}
#id02,#id01 {
  z-index: 500;
}
.center{
  height: auto
}
/* handlebars*/
.templateHotels {
  border : 2px dashed white;
  padding: 10px;
  margin-bottom: 10px;
}
.profilePicture {
  width: 250px;
  height: 200px;
  cursor: pointer;
}
.photos img {
  width : 100%;
  height: 300px !important;
}
.moreAboutHotel, .infoHotel, .opinions, .offerts {
  display: none;
}
